<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Português</string>
		<key>lang</key>
		<string>pt</string>
		<key>sub-lang</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>español</string>
		<key>lang</key>
		<string>es</string>
		<key>sub-lang</key>
		<string>es</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Français</string>
		<key>lang</key>
		<string>fr</string>
		<key>sub-lang</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>English</string>
		<key>lang</key>
		<string>en</string>
		<key>sub-lang</key>
		<string>en</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日本語</string>
		<key>lang</key>
		<string>ja</string>
		<key>sub-lang</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>name</key>
		<string>台湾正体</string>
		<key>lang</key>
		<string>zh</string>
		<key>sub-lang</key>
		<string>zh-tw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>马新简体</string>
		<key>lang</key>
		<string>zh</string>
		<key>sub-lang</key>
		<string>zh-sg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大陆简体</string>
		<key>lang</key>
		<string>zh</string>
		<key>sub-lang</key>
		<string>wiki</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香港繁体</string>
		<key>lang</key>
		<string>zh</string>
		<key>sub-lang</key>
		<string>zh-hk</string>
	</dict>
</array>
</plist>
